@using ITISystem.Models;
@model Dept_Crs_Instr
@{
    ViewBag.Title = "AssignInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignInstructor</h2>
<div class="col-lg-12">
   @Html.LabelFor(a=>a.Department_key, "Department", new { @class = "form-group" })
    @Html.DropDownListFor(a => a.Department_key, ViewBag.depts as SelectList,"Select Department", new { @class = "btn btn-default" })
</div>
    <br /><br /><br /><br />


<div class="col-lg-12" id="course">
</div>
<br /><br /><br /><br />
<div class="col-lg-12" id="instructor">
    
</div>
<div id="submit">

</div>



@section scripts
{
    <script>
        $(function () {
            $("#Department_key").change(function (event) {
               
                $("#course").load("/Course/courses/" + $(this).val());
            })
        })
    </script>
}


