@using ITISystem.Models;
@model Std_Crs_Instr
@{
    ViewBag.Title = "AssignInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignInstructor</h2>
<div class="col-lg-12">
    @Html.LabelFor(a => a.Instructor_key, "Instructor", new { @class = "form-group" })
    @Html.DropDownListFor(a => a.Instructor_key, ViewBag.insts as SelectList,"Select Instructor", new { @class = "btn btn-default" })
</div>
    <br /><br /><br /><br />


<div class="col-lg-12" id="div2">
</div>
<br /><br /><br /><br />

@section scripts
{
    <script>
        $(function () {
            $("#Instructor_key").change(function (event) {
                $("#div2").load("/Course/courses/" + $(this).val());
            })
        })
    </script>
}


