@using ITISystem.Models;
@model IEnumerable<ITISystem.Models.Course>
<ul class="list-group">
    @foreach (Course curs in Model)
    {   
        <li class="list-group-item" > 
    <input type="checkbox"  value="@curs.Course_Id" name="crslist"/> @curs.Name</li>
        
        

    }
</ul>
@section scripts
{
    <script>
        $(function () {
            $("#Course_Id").checked(function (event) {
                //alert($(this).val());
                $("#div1").load("/course/Courses/" + $(this).val());


            })

        })
    </script>
}
