@using ITISystem.Models;
@model Dept_Crs_Instr
@{
    ViewBag.Title = "courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>courses</h2>
@using (Html.BeginForm("AssignInstructor", "Course", FormMethod.Post, "novalidate"))
{
<div>
    @Html.LabelFor(a => a.Course_key, "Course", new { @class = "form-group" })
    @Html.DropDownListFor(a => a.Course_key, ViewBag.crs as SelectList, "Select Course", new { @class = "btn btn-default", id = "ddl_course" })
</div>
<h2>Instructors</h2>
<div>
    @Html.LabelFor(a => a.Instructor_key, "Instructor", new { @class = "form-group" })
    @Html.DropDownListFor(a => a.Instructor_key, ViewBag.inst as SelectList, "Select Instructor", new { @class = "btn btn-default" })
</div>
<div>
    <input type="submit" value="Add" class="btn btn-success col-md-3 " /> 
</div>
}





