@using ITISystem.Models;
@model IEnumerable<ITISystem.Models.Course>
<ul class="list-group">
    @foreach (Course cr in Model)
    {
        <li class="list-group-item" > <input type="checkbox"name="crlist" /> @cr.Name</li>


      
    }
</ul>

