
@{
    ViewBag.Title = "calculate_eval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Error In Course Evaluation</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


