
@{
    ViewBag.Title = "calculate_eval_instructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Error In Instructor Evaluation</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*Finish Instructor Evaluation*@

