@using ITISystem.Models;
@model Std_Crs_Instr
@{
    ViewBag.Title = "course_eval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Evaluation</h2>
<div>
   @Html.DropDownListFor(a=>a.Course_key, ViewBag.crs as SelectList,"Select Course",new { @class= "btn btn-primary" })
</div>

<div id="div2">

</div>

@section scripts
{
    <script>
        $(function () {
            $("#Course_key").change(function (event) {
                $("#div2").load("/Student/instructor_eval/" + $(this).val());
            })
        })
    </script>
}

