@*@Styles.Render("~/Content/css")*@
@using ITISystem.Models;
@model Std_Crs_Instr
@{
    ViewBag.Title = "evaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Evaluation</h2>
<div>
    @Html.DropDownListFor(a => a.Student_key, ViewBag.stds as SelectList,"Select Student", new { @class = "btn btn-primary" })
</div>

<div id="div1">

</div>
<div>
    @Html.ActionLink("GO Back", "Go_Back", "Student")
</div>

@section scripts
{
    <script>
        $(function () {
            $("#Student_key").change(function (event) {
                $("#div1").load("/Student/course_eval/" + $(this).val());
            })
        })
    </script>
}




