@model ITISystem.Models.Department

@{
    ViewBag.Title = "Studentspage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <br /><br /><br />
    @Html.LabelFor(model=>model.Name ,"Department", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @*@Html.DropDownListFor(model => model.Department_Id, ViewBag.dept as SelectList, new { @class = "btn btn-primary", @onchange = "Fillstudent()" })*@
        @Html.DropDownListFor(m => m.Department_Id,new SelectList(ViewBag.dept, "Department_Id", "Name"),"Select Department", new { @class = "btn btn-primary", onchange = "Fillstudent()" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>
<br /><br />
<div id="divstud">
    
</div>
@section Scripts {
    <script>
  function Fillstudent() {
      var deptId = $('#Department_Id').val();
      
      alert(deptId);
    $.ajax({
        url: '/Department/Fillstudent',
        type: "GET",
        dataType: "JSON",
        contentType: 'application/json; charset=utf-8',
        data: { state: deptId },
        success: function (students) {
            $("#divstud").html("");
            $("#divstud").append($('<h3></h3>').text("STUDENT NAMES"))
            
            $.each(students, function (i, stud) {
                    $("#divstud").append(
                        $('<h3></h3>').text((i+1) +" - "+ stud.name));
                    i++;
            });
        },
        error: function() {
        alert("There was an error fetching events!")
    }
    });
  }
    </script>
}

