@using ITISystem.Models;
@model Dept_Crs_Instr
@{
    ViewBag.Title = "Departs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departs</h2>
<div class="col-lg-12">

    @Html.LabelFor(a => a.Department_key, "Depaetment", new { @class = "form-group" })

    @Html.DropDownListFor(a => a.Department_key, ViewBag.depts as SelectList, new { @class = "btn btn-default" })
</div>
<br /><br /><br /><br />
<div class="col-lg-12" id="divstudents">

</div>
@section scripts
{
    <script>
        $(function () {
            $("#Department_key").change(function (event) {
                $("#divstudents").load("/Instructor1/StudentsDegree/" + $(this).val());
            })
        })
    </script>
}

