@using ITISystem.Models;
@model Permisions
@{
    ViewBag.Title = "Give_Premision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Give_Premision</h2>
@using (Html.BeginForm("Give_Premision", "Instructor1", FormMethod.Post, "novalidate"))
{
<div>
    @Html.LabelFor(a => a.Student_key, "Student", new { @class = "form-group" })

        @Html.DropDownListFor(a => a.Student_key, ViewBag.stds as SelectList, new { @class = "btn btn-default" })
</div>
<br /><br /><br /><br />
    <div>       
        @Html.CheckBox("chk")
        @Html.Label("Give Premission")
    </div>
<div>    
        <input type="submit" value="Save" class="btn btn-success col-md-3 " />    
</div>

}



@*<div class="col-lg-12" id="divstds">

</div>
@section scripts
{
    <script>
        $(function () {
            $("#Instructor_key").change(function (event) {
                $("#divstds").load("/Instructor1/display_stds/" + $(this).val());
            })
        })
    </script>*@
}

