@using ITISystem.Models;
@model Instructor

@{
    //ViewBag.Title = "Instructor_Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-lg-offset-4">Instructor_Courses</h2>
<br/>
<br/>
<br/>



@using (Html.BeginForm("Instructor_Courses", "Instructor1", FormMethod.Post, "novalidate"))
{
    <div class="form-group col-lg-offset-4">
        @Html.TextBoxFor(model => model.Instructor_Id, "Select Instructor",new { })
        @Html.DropDownListFor(a => a.Instructor_Id, (SelectList)ViewData["ins"], new { @class = "btn btn-default" })
    </div>

    @Html.ActionLink("Back to List", "Finished_Courses")

    <div id="div1">


    </div>
}
@section scripts
{
    <script>
        $(function () {
            $("#Instructor_Id").change(function (event) {

                $("#div1").load("/Instructor1/Finished_Courses/" + $(this).val());


            })

        })
    </script>
}