@using ITISystem.Models;
@model Department
@{
    ViewBag.Title = "ManagerID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Manager LogIn</h2>

<br/>
<br />

<br />

<br />
<form method="post" action="DisplayEvaluationOfInstructor" novalidate="novalidate" class="form-horizontal col-md-offset-1">
    



        <div class="form-group">
                @Html.LabelFor(model => model.manger_key, "Enter Your ID")
            </div>

            <div class="form-group col-lg-offset-4">

                @Html.TextBoxFor(model => model.manger_key, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.manger_key, "", new { @class = "text-danger" })


            </div>

            <div class="col-lg-offset-4 ">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>


    </form>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
