@model IEnumerable<ITISystem.Models.Department>

@{
    ViewBag.Title = "manger_student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row form-group">
    <div class="col-md-12">
        <select id="ddlDept" class="btn btn-success">
            <option>Select Department</option>
            @foreach (var item in Model)
            {
                <option value="@item.Department_Id">@item.Name</option>
            }
        </select>

        <table class="table table-bordered table-hover table-striped" id="tb1">
            <thead>
                <tr>


                    <th>Student FirstName</th>
                   <th>LastName</th>
                    <th>BirthDate</th>
                    <th>Email</th>
                   
                    <th>Attendance_Balance</th>
                    <th>Telephone</th>

                </tr>
            </thead>
            <tbody id="body"></tbody>
        </table>


        <div id="div1" class="col-md-10">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.ActionLink("return to list", "getAll", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>
@section scripts{
    <script>
        var asd;
        var x;
        $(function () {
            $("#ddlDept").on('change', function () {
                $("#body").empty();

                $.ajax({
                    cashe: false,
                    type: "Post",
                    url: "ManagerName/" + $("#ddlDept").val(),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        alert(asd);
                        asd = JSON.parse(res);
                        for (var i = 0; i < asd.length; i++) {
                            $("#body").append("<tr><td>" + asd[i].FirstName + "</td> <td>" + asd[i].LastName + "</td><td>" + asd[i].BirthDate + "</td>" + asd[i].Email + "<td><td>" + asd[i].Attendance_Balance + "</td><td>" + asd[i].Telephone + "</td></tr>")

                        }

                    }
                })
            });


        });

    </script>
    }